@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" img src="~/Content/img/restrant.jpg">
   
    <h1 style="color:firebrick">Eleven Tip</h1>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Quick Tip</h2>
        <p>
           Quickly find out how much the tip for the bill is.
        </p>
        <p><a class="btn btn-default" href="~/Home/Contact">Quick Tip &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Your Reviews</h2>
        <p>Go to your list of restaurnts reviews.</p>
        <p><a class="btn btn-default" href="~/Note">Notes</a></p>
    </div>
    
</div>